{% load static %}
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="{% static '/img/logo/logo.png' %}" alt="">
      </div>
    </div>
  </div>
</div>
<header>
  <div class="header-area header-transparrent">
    <div class="headder-top header-sticky">
      <div class="container">
        <div class="row align-items-center ">
          <div class="col-lg-3 col-md-2">
            <div class="logo">
              <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt="Django Job Portal"></a>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>